<a href="https://colab.research.google.com/github/Polyakova4237/-------3_------19/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Sem_10

Изобразите отношение households к population с помощью точечного графика

Визуализировать longitude по отношения к median_house_value, используя линейный график
Представить гистограмму по housing_median_age
Изобразить гистограмму по median_house_value с оттенком housing_median_age

In [1]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/sample_data/california_housing_test.csv")
df

In [ ]:
df.head(5)

In [4]:
import seaborn as sns

In [ ]:
# изобразить отношение к population с помощью точечного графика
sns.scatterplot(data=df, x='households', y='population')

In [ ]:
# Визуализировать longitude по отношения к median_house_value, используя линейный график

sns.relplot(data=df, x='longitude', y='median_house_value', kind='line', aspect=4)

In [ ]:
#Представить гистограмму по housing_median_age

In [ ]:
sns.histplot(data=df, x='median_income')

In [ ]:
sns.histplot(data=df, x='median_house_value', hue= 'housing_median_age')

In [ ]:
sns.histplot(data=df, x='median_house_value', y= 'housing_median_age')

Написать EDA для датасета про пингвинов
Необходимо:
Использовать 2-3 точечных графика
Применить доп измерение в точечных графиках, используя аргументы hue, size, stile
Использовать PairGrid с типом графика на ваш выбор
Изобразить Heatmap
Использовать 2-3 гистограммы

In [ ]:
import seaborn as sns
penguins = sns.load_dataset("penguins")
penguins.dropna(inplace=True)
penguins.head()

In [ ]:
graph = sns.scatterplot(data=penguins, x='bill_depth_mm', y='body_mass_g')

In [ ]:
graph = sns.scatterplot(data=penguins, x='bill_length_mm', y='flipper_length_mm')

In [ ]:
graph = sns.scatterplot(data=penguins, x='bill_depth_mm', y='body_mass_g', hue='sex', size = 'body_mass_g', style='island')

In [ ]:
graph = sns.scatterplot(data=penguins.dropna(), x="bill_depth_mm", y="body_mass_g", hue = 'sex', size = 'body_mass_g', style = 'island')

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

fig = plt.figure()
ax = fig.add_subplot(111, projection = '3d')

x = penguins.iloc[:, 2]
y = penguins.iloc[:, 3]
z = penguins.iloc[:, 4]

ax.set_xlabel("Длина клюва")
ax.set_ylabel("Ширина клюва")
ax.set_zlabel("Длина ласты")

ax.scatter(x, y, z)

plt.show()

In [ ]:
# PairGrid
lst = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']
g = sns.PairGrid(penguins[lst])
g.map(sns.scatterplot)

In [ ]:
# PairGrid
lst = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']
g = sns.PairGrid(penguins[lst])
g.map_diag(sns.histplot)
g.map_lower(sns.scatterplot)
g.map_upper(sns.scatterplot)
# g.map(sns.scatterplot)

In [ ]:
sns.heatmap(penguins.corr(), vmin=-1, vmax=1)

In [34]:
penguins.loc[penguins['bill_length_mm'] >= 42, 'height_group'] = 'high'
penguins.loc[(penguins['bill_length_mm'] >= 35) & (penguins['bill_length_mm'] < 42), 'height_group'] = 'middle'
penguins.loc[penguins['bill_length_mm'] < 35, 'height_group'] = 'low'

In [ ]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

In [ ]:
pd.get_dummies(data=data)

| Задание 44 |

| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [8]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
print(lst)
print()
data = pd.DataFrame({'whoAmI':lst})
data.loc[data['whoAmI'] == 'robot', 'robot_group'] = '1'
data.loc[data['whoAmI'] != 'robot', 'robot_group'] = '0'
data.loc[data['whoAmI'] == 'human', 'human_group'] = '1'
data.loc[data['whoAmI'] != 'human', 'human_group'] = '0'

data.head(n=20)

['human', 'robot', 'robot', 'robot', 'human', 'robot', 'robot', 'robot', 'human', 'robot', 'human', 'human', 'robot', 'robot', 'human', 'human', 'human', 'human', 'human', 'robot']

   whoAmI robot_group human_group
0   human           0           1
1   robot           1           0
2   robot           1           0
3   robot           1           0
4   human           0           1
5   robot           1           0
6   robot           1           0
7   robot           1           0
8   human           0           1
9   robot           1           0
10  human           0           1
11  human           0           1
12  robot           1           0
13  robot           1           0
14  human           0           1
15  human           0           1
16  human           0           1
17  human           0           1
18  human           0           1
19  robot           1           0